:root {
  --white: #ffffff;
  --black: #1c1c1c;

  --header-background: #741441;
  --header-height: 70px;
  --footer-height: 20px;
  --footer-height-grow: 80px;
  --footer-button: 40px;
}

body {
  font-size: 18px;
  font-family: 'Fira Sans Extra Condensed', 'Arial', sans-serif;
  background-image: url('../images/bg.png');
  background-position: 50% 0;
  background-attachment: fixed;
  color: var(--white);
}

.header-wrapper {
  max-width: 950px;
  margin: 0 auto;
}

.body-wrapper {
  margin-top: var(--header-height);
  background: var(--black);
  border-left: 20px solid var(--header-background);
  border-right: 20px solid var(--header-background);
  margin-bottom: var(--footer-height);
}

h1 {
  margin: 1px 0;
  text-align: center;
  padding-bottom: 10px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  background: var(--header-background);
  overflow: hidden;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
}

p {
  margin: 0 30px;
}

.header__item {
  display: inline-table;
  height: var(--header-height);
}

.header__logo a, .header__menu li {
  display: table-cell;
  vertical-align: middle;
}

.header__logo img {
  height: var(--header-height);
}

.header__menu {
  float: right;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.header__item li a {
  padding: calc(var(--header-height) / 2) 10px;
  color: var(--white);
  text-decoration: none;
}

.header__item  li a:hover {
  background: rgb(138, 13, 75);
}

img {
  transform: scale(0.9);
  transition-duration: 0.7s;

}

img:hover {
  transform: scale(1.0);
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: var(--footer-height);
  background: var(--header-background);
  overflow: hidden;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
  transition-duration: 1s;
}

footer:hover {
  height: var(--footer-height-grow)
}

.footer__item {
  display: inline-table;
  width: 100%;
  height: var(--footer-height-grow);
}

.footer__menu {
  margin: 0;
  list-style-type: none;
}

.footer__menu li {
display: table-cell;
text-align: center;
vertical-align: middle;
}

.footer__item li a {
  padding: var(--footer-height-grow) 10px;
  color: var(--white);
  text-decoration: none;
}

.footer__item li a:hover {
  background: rgb(138, 13, 75);
}
