:root {
  --white: #ffffff;
  --black: #1c1c1c;

  --header-box-shadow-radius: 30px;
  --header-background: #741441;
  --header-background-hover: rgb(138, 13, 75);
  --header-height: 70px;

  --footer-height: 20px;
  --footer-height-grow: 80px;

  --transition-duration: 100ms;
}

body {
  font-size: 18px;
  font-family: 'Fira Sans Extra Condensed', 'Arial', sans-serif;
  background-image: url('../img/bg.png');
  background-position: 50% 0;
  background-attachment: fixed;
  color: var(--white);
}

.wrapper {
  max-width: 950px;
  margin: 0 auto;
}

.body-wrapper {
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
  padding: var(--header-box-shadow-radius) 15px;
  background: var(--black);
}

h1, h2 {
  margin: 10px 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  background: var(--header-background);
  overflow: hidden;
  box-shadow: 0px 0px var(--header-box-shadow-radius) 10px rgba(0, 0, 0, 0.5);
}

.header__item {
  display: inline-table;
  height: var(--header-height);
}

.header__logo a, .header__menu li {
  display: table-cell;
  vertical-align: middle;
}

.header__logo img {
  height: var(--header-height);
}

.header__menu {
  float: right;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.header__item li a {
  padding: calc(var(--header-height) / 2) 10px;
  color: var(--white);
  text-decoration: none;
  transition-duration: var(--transition-duration);
}

.header__item li a:hover {
  background: var(--header-background-hover);
}

img {
  transform: scale(0.9);
  transition-duration: 0.7s;
}

img:hover {
  transform: scale(1.0);
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: var(--footer-height);
  background: var(--header-background);
  overflow: hidden;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
  transition-duration: 1s;
}

footer:hover {
  height: var(--footer-height-grow)
}

.footer__item {
  display: inline-table;
  width: 100%;
  height: var(--footer-height-grow);
}

.footer__menu {
  margin: 0;
  list-style-type: none;
}

.footer__menu li {
display: table-cell;
text-align: center;
vertical-align: middle;
}

.footer__item li a {
  padding: var(--footer-height-grow) 10px;
  color: var(--white);
  text-decoration: none;
}

.footer__item li a:hover {
  background: rgb(138, 13, 75);
}

.left-side {
  margin: 40px;
}

.error {
  padding: 10px;
  border: 1px solid var(--header-background);
  border-radius: 5px;
}

input, button {
  padding: 5px 10px;
  margin: 3px 0;
}

input {
  width: 90%;
  color: var(--white);
  background: var(--black);
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid var(--header-background);
  border-left: 0;
}

input:focus {
  border-bottom-color: var(--header-background-hover);
}

.submit {
  display: block;
  border-radius: 5px;
  color: var(--white);
  background: var(--header-background);
  border: 0;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.submit:hover {
  background: var(--header-background-hover);
}
