:root {
  --white: #ffffff;
  --black: #1c1c1c;
}

body {
  font-size: 18px;
  font-family: 'Fira Sans Extra Condensed', 'Arial', sans-serif;
  background-image: url('../images/bg.jpg');
  background-position: 50% 0;
  background-attachment: fixed;
  color: var(--white);
}

.body-wrapper {
  max-width: 950px;
  margin: 0 auto;
  background: var(--black);
  border: 10px solid var(--black);
}

h1 {
  margin: 1px 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: yellowgreen;
}

.header-wrapper {
  max-width: 950px;
  margin: 0 auto;
}